<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exemplo 1 - Inline (Aula7)</title>

  <link rel="stylesheet" href="./static/css/01.css">
  <script type="text/javascript">
      function altera(){
        const elemento1 = document.getElementById('botao')
        if (elemento1.innerText == "VOLTOU") {
           elemento1.innerText = "FOI";
           document.bgColor = "#FADCD9";
        }
        else {
          elemento1.innerText = "VOLTOU";
          document.bgColor = "#F9F1F0";
        }
      }
  </script>
</head>
<body>
  <div class="div1">
    <button id="botao" onclick="altera()">VOLTOU</button>
  </div>
</body>
</html>
