<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./01.css">

    <title>Exercicio Einstein com JS</title>
  </head>
  <body>
    <div class="div1">
      <b>Nome: <span id="nome"></span><span id="sobrenome"></span></b>

      <b>Idade: <span id="idade"></span></b>

      <button id="alteraHumor">Altera Humor!</button>

    <div class="div1" id="blocoHumor">
    </div>

      <img id="imagem"class="img1" src="#" alt="Imagem">
    </div>
      <!-- <h1>"Albert Einstein"</h1>
      <img class="img1" src="./imagem/01.jpg" alt="">
      </br><button type="button" name="button">Alterar Humor</button> -->


      <script type="text/javascript" src="01.js"></script>
  </body>
</html>
