/* li{
  padding-bottom: 10px;
}

.input0{
padding: 10px;
color: white;
background-color: #D6DBDF;
}
.input1{
padding: 10px;
color: white;
background-color: #AEB6BF;
}
.input2{
padding: 10px;
color: white;
background-color: #85929E;
}
.input3{
padding: 10px;
color: white;
background-color: #5D6D7E;
}
.input4{
padding: 10px;
color: white;
background-color: #34495E;
}
.input5{
padding: 10px;
color: white;
background-color: #2E4053;
}
.input6{
padding: 10px;
color: white;
background-color: #283747;
}

.input7{
padding: 10px;
color: white;
background-color: #212F3C;
}

.btn-enviar{
  padding: 10px;
  color: white;
  background-color: #1B2631;
  width:100%;
} */
