<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>GameOfTheYear</title>
    <link rel="icon" href="/static/images/icone.ico">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/dist/lightbox.css">
  </head>
  <body>

    <div class="barra"></div>

    </div>
    <!--  Conteúdo principal da página  -->
<main class="container">
<!--  Criar a area para o logo e o Menu  -->
<header class="cabecalho">
<!-- criar area da logo -->
<section id="logo">

<h1><span class="cor-rosa">Leitura</span>Médica</h1>
</section>

<!-- fim da area da logo -->

<!-- area do menu -->
<nav id="menu-navegacao">
  <ul>
    <li><a href="#">Paint<a/></li>
    <li><a href="#">Windows<a/></li>
    <li><a href="#">Lo-fi<a/></li>
    <li><a href="#">Vaporwave<a/></li>
  </ul>
</nav>
<!-- fim da area do menu -->

</header>
<!-- fim da area para o logo e o Menu -->

<section class="container-video">
<iframe src="https://www.youtube.com/embed/dR17U5-VKtw" class="tamanho-video"></iframe>

</section>
<!-- fim video principal  -->

<!-- divisão em 3 colunas -->
<section class="noticias">

  <!-- primeira noticia -->
  <article class="box-noticias GAME1">
    <h2 class="titulo-noticias">Sleep</h2>
    <p class="texto-noticias">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
    </p>
    <a href="#" class="link-noticias">1:15</a>
  </article>

  <!-- segunda noticia -->
  <article class="box-noticias GAME2">
    <h2 class="titulo-noticias">Study</h2>
    <p class="texto-noticias">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
    </p>
    <a href="#" class="link-noticias">2:25</a>
  </article>

  <!-- terceira noticia -->
  <article class="box-noticias GAME3">
    <h2 class="titulo-noticias">Work</h2>
    <p class="texto-noticias">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
    </p>
    <a href="#" class="link-noticias">3:30</a>
  </article>
  <!-- fim da primeira noticia -->

</section>
<!-- fim da divisão em 3 colunas -->

<figure class="galeria">
  <a href="/static//images/FOTO1.jpg" data-lightbox="roadtrip" data-title="Description from image 1"><img src="/static//images/FOTO1.jpg" alt="imagens" class="tamanho-imagem"></a>
  <a href="/static//images/FOTO2.jpg" data-lightbox="roadtrip" data-title="Description from image 2"><img src="/static//images/FOTO2.jpg" alt="imagens" class="tamanho-imagem"></a>
  <a href="/static//images/FOTO3.jpg" data-lightbox="roadtrip" data-title="Description from image 3"><img src="/static//images/FOTO3.jpg" alt="imagens" class="tamanho-imagem"></a>
  <a href="/static//images/FOTO4.jpg" data-lightbox="roadtrip" data-title="Description from image 4"><img src="/static//images/FOTO4.jpg" alt="imagens" class="tamanho-imagem"></a>
  <a href="/static//images/FOTO5.jpg" data-lightbox="roadtrip" data-title="Description from image 5"><img src="/static//images/FOTO5.jpg" alt="imagens" class="tamanho-imagem"></a>
  <a href="/static//images/FOTO6.jpg" data-lightbox="roadtrip" data-title="Description from image 6"><img src="/static//images/FOTO6.jpg" alt="imagens" class="tamanho-imagem"></a>
  <a href="/static//images/FOTO7.jpg" data-lightbox="roadtrip" data-title="Description from image 7"><img src="/static//images/FOTO7.jpg" alt="imagens" class="tamanho-imagem"></a>
  <a href="/static//images/FOTO8.jpg" data-lightbox="roadtrip" data-title="Description from image 8"><img src="/static//images/FOTO8.jpg" alt="imagens" class="tamanho-imagem"></a>
</figure>

<section class="formulario">
  <form action="index.html" method="post">
    <fieldset>
      <input type="text" name="" placeholder="Late Name..." class="user">
    </fieldset>
    <fieldset>
      <input type="email" name="" placeholder="Place Email..." class="email">
    </fieldset>
    <fieldset>
      <textarea name="name" placeholder="Messages ..."></textarea>
    </fieldset>
    <fieldset>
      <button type="submit" name="button">Enviar</button>
    </fieldset>

  </form>
</section>

</main>
<!--  Fim do Conteúdo principal da página -->
  </body>
</html>
