@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

button{
  height: 100px;
  width: 50%;
  font-size: 30px;
  background-color: #FADCD9;
  color: #F8AFA6;
  border: none;
  font-family: 'Roboto', sans-serif;
}

.div1{
display: flex;
align-items: center;
justify-content: center;
}

/*
#F9F1F0
#FADCD9
#F8AFA6
#F79489 */
